# Уникнення завантаження конфіденційних даних
.env

# Python кеш
__pycache__/
*.py[cod]
*$py.class

# Віртуальні середовища
venv/
env/
.venv/

# Налаштування редакторів коду
.vscode/
.idea/

# Бази даних
bot.db
*.db
*.sqlite3
